:root {
	--fontfamily: Georgia, 'Times New Roman', Times, serif;
	--basecol: rgb(222, 184, 135);
}

.main_sections {
	font-size: 120%;
	font-family: var(--fontfamily);
}

.section {
	font-size: 120%;
	font-family: var(--fontfamily);
	border: 10px ridge var(--basecol);
	border-radius: 10px;
	width: fit-content;
	padding: 10px;
}

#extra {
	font-size: 150%;
	font-family: var(--fontfamily);
	margin-top: 100px;
	width: fit-content;
	border: 10px ridge var(--basecol);
	margin-bottom: -50px;
	mask-border: 100px;
	border-radius: 10px;
	padding: 10px;
}